{% extends "base.html" %}
{% block content %}
<div class="topics">
		<h2>Creating a structured document with HTML</h2>
		<div class="concept">
			<div class="concept-title">
				Tree-like structure of HTML
			</div>
			<div class="concept-description">
				<p>
					DOM = Tree-like structure.  This means you can have elements inside elements.  <span class="italic">Think of a family tree</span>
				</p>
			</div>
		</div>
		<div class="concept">
			<div class="concept-title">
				Indented HTML and boxes
			</div>
			<div class="concept-description">
				<p>
					The &quot;wave-like&quot; look of HTML indentations shows the way elements are nested.  The more indented means the more nested the element is.
				</p>
				<p>
					Boxes on boxes on boxes.  HTML is all about about boxes.  View every page you see as boxes.
				</p>
			</div>
		</div>
		<div class="concept">
			<div class="concept-title">
				Text Editors
			</div>
			<div class="concept-description">
				<p>
					Programmers use special text editors for writing code.  These editors are designed with coding in mind which makes it easier for coders.  Some have really useful features.  An example of this in Sublime Text 2 is that you can use the find feature to find a certain tag and then change all of those tags in the doc in one fell swoop.  A bit like CSS..  
				</p>
			</div>
		</div>
		<div class="concept">
			<div class="concept-title">
				Additional stuff
			</div>
			<div class="concept-description">
				<p>
					HTML = the set<br>
					CSS = how the set is painted<br>
					Javascript = how the stage moves<br>
					Class attributes = lables on boxes<br>

				</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}