{% extends "base.html" %}
{% block content %}
<div class="topics">
        <h2>Responsive Web Design</h2>
        <div class="concept">
            <div class="concept-title">
                <a href="http://www.w3schools.com/css/css_rwd_intro.asp" target="_blank">RWD Tutorial from w3schools</a>
            </div>
            <div class="concept-description">
                <p>
                    <h4>What is Responsive Web Design?</h4> 
                    Responsive Web Design makes your web page look good on all devices (desktops, tablets, and phones).
                </p>
                <p>
                    Responsive Web Design is about using CSS and HTML to resize, hide, shrink, enlarge, or move the content to make it look good on any screen.  It is not a program or Javascript.
                </p>
                <p>
                    <h4>Designing For The Best Experience For All Users</h4>
                    Web pages can be viewed using many different devices: desktops, tablets, and phones. Your web page should look good, and be easy to use, regardless of the device.
                </p>
                <p>
                    Web pages should not leave out information to fit smaller devices, but rather adapt its content to fit any device  
                </p>
                <p>
                    It is called responsive web design when you use CSS and HTML to resize, hide, shrink, enlarge, or move the content to make it look good on any screen.
                </p>
                <p>
                    <h4>Viewport</h4>
                    The viewport is the user's visible area of a web page.  It varies with the device, and is smaller on a mobile phone than on a computer screen. 
                </p>
                <p>
                    <h4>Grid-view</h4>
                   Many web pages are based on a grid-view, which means that the page is divided into columns.  Using a grid-view is very helpful when designing web pages. It makes it easier to place elements on the page.  A responsive grid-view often has 12 columns, and has a total width of 100%, and will shrink and expand as you resize the browser window.
                </p>
                <p>
                    <h4>Media Query</h4>
                    rule to include a block of CSS properties only if a certain condition is true.
                </p>
                <p>
                    <h4>Breakpoints</h4>
                    You can add a breakpoint where certain parts of the design will behave differently on each side of the breakpoint.  There can be many breakpoints.
                </p>
                <p>
                    <h4>Always Design for Mobile First</h4>
                    Mobile First means designing for mobile before designing for desktop or any other device (This will make the page display faster on smaller devices).
                </p>
                <p>
                    <h4>Responsive Web Design - Frameworks</h4>
                    There are many existing CSS Frameworks that offer Responsive Design that are free, and easy to use.  There is W3.CSS, Bootstrap, and skeleton.
                </p>
            </div>
        </div>
        <div class="concept">
            <div class="concept-title">
                <a href="http://codeboxr.com/blogs/top-5-advantages-of-responsive-web-page-design" target="_blank">Top 5 Advantages of Responsive Web Page Design</a>
            </div>
            <div class="concept-description">
                <p>
                    <h4>Super Flexible</h4>
                    Responsive web design sites are fluid, meaning the content moves freely across all screen resolutions and all devices. Both the grids and the images are fluid. Just as a liquid spreads out or draws in to allow its content to fill an allotted space and retain its appearance, responsive web design’s fluidity achieves the same result with website content on a device screen.
                </p>
                <p>
                    <h4>Excellent User Experience</h4>
                    While, content is king and discover ability of content are foremost success metrics, it is the user experience that enables visitors to consume content on any website through the device of their choice and preference, anytime. Thus, responsive web design is about providing the optimal user experience irrespective of whether they use a desktop computer, a smartphone, a tablet or a smart-TV. Responsive web design accommodates the busy professional during the day and the wide-awake college student needing access to your site anytime. No scrolling or resizing is needed for any visitor to access your website from their favorite device.
                </p>
                <p>
                    <h4>Cost Effective</h4>
                    The advantages of having a single site that conforms to the need of all devices are significant when compared to having two separate websites. One website costs less than two, and the savings can be substantial. Sites designed solely for mobile device traffic don’t offer the advanced navigational techniques found in traditional websites, and they also require the user to maintain two separate web addresses for your site. This is inconvenient for most people and can cause them to check out the competition’s website. Responsive web design enhances SEO efforts by having all your visitors directed to a single site no matter what they prefer to use as a device
                </p>   
                <p> 
                    <h4>It is recommended by Google</h4>
                    With 67 percent search market share, when Google speaks, search marketers listen. Google states that responsive web design is its recommended mobile configuration, and even goes so far as to refer to responsive web design as the industry best practice.
                </p>
                <p>
                    This is because responsive design sites have one URL and the same HTML, regardless of device, which makes it easier and more efficient for Google to crawl, index, and organize content. Contrast this with a separate mobile site which has a different URL and different HTML than its desktop counterpart, requiring Google to crawl and index multiple versions of the same site.
                </p>
                <p>
                    Additionally, Google prefers responsive web design because content that lives on one website and one URL is much easier for users to share, interact with, and link to than content that lives on a separate mobile site. Take for example a mobile user who shares content from a mobile site with a friend on Facebook who then accesses that content using a desktop, which results in that user viewing a stripped down mobile site on their desktop. This creates a less than optimal user-experience, and because of the large emphasis Google is now placing on user-experience as a ranking factor, this is essential to take into account with regards to SEO.
                </p>
                <p>
                    <h4>Very easy to manage</h4>
                    Having a separate desktop and mobile site requires having separate SEO campaigns. Managing one site and one SEO campaign is far easier than managing two sites and two SEO campaigns. This is a key advantage a responsive website has over a separate mobile site. That being said, there are benefits to having a mobile-specific SEO strategy, such as optimizing for keywords that are more likely to be searched when someone is on their smartphone. For example, someone performing a mobile search for a local restaurant may be more inclined to use the word “nearby” in their search query. However, a separate mobile site is not a requirement for a mobile SEO strategy, and there’s no reason why mobile-specific keywords can’t be incorporated into a responsive design site as well.

                    At the end it is your decision, whether you take it or not.
                </p>
            </div>
        </div>
        <div class="concept">
            <div class="concept-title">
                <a href="http://www.smashingmagazine.com/2008/01/10-principles-of-effective-web-design/" target="_blank">10 Principles of Effective Web Design</a>
            </div>
            <div class="concept-description">
                <p>
                     In order to use the principles properly we first need to understand how users interact with web-sites, how they think and what are the basic patterns of users’ behavior.  Here's a little list to summarize this..
                     <ul>
                        <li>Users appreciate quality and credibility</li>
                        <li>Users don’t read, they scan</li>
                        <li>Web users are impatient and insist on instant gratification</li>
                        <li>Users don’t make optimal choices</li>
                        <li>Users follow their intuition</li>
                        <li>Users want to have control</li>
                     </ul>
                </p>
                <p>
                    Know that we know how that users think, lets move on to the principles of effective web design.
                </p>
                <p>
                    <h4>Don’t make users think</h4>
                    The web-page should be obvious and self-explanatory.
                </p>
                <p>
                    <h4>Don’t squander users’ patience</h4>
                    Let users explore the site and discover your services without forcing them into sharing private data.
                </p>
                <p>
                    <h4>Manage to focus users’ attention</h4>
                    The human eye is a highly non-linear device, and web-users can instantly recognize edges, patterns and motions.
                </p>
                <p>
                    <h4>Strive for feature exposure</h4>
                    Letting the user see clearly what functions are available is a fundamental principle of successful user interface design. It doesn’t really matter how this is achieved. What matters is that the content is well-understood and visitors feel comfortable with the way they interact with the system.
                </p>
                <p>
                    <h4>Make use of effective writing</h4>
                    Talk business. Avoid cute or clever names, marketing-induced names, company-specific names, and unfamiliar technical names.
                </p>
                <p>
                    <h4>Strive for simplicity</h4>
                    The “keep it simple”-principle (KIS) should be the primary goal of site design. Users are rarely on a site to enjoy the design; furthermore, in most cases they are looking for the information despite the design. Strive for simplicity instead of complexity.
                </p>
                <p>
                    <h4>Don’t be afraid of the white space</h4>
                    Actually it’s really hard to overestimate the importance of white space. Not only does it help to reduce the cognitive load for the visitors, but it makes it possible to perceive the information presented on the screen.
                </p>
                <p>
                    <h4>Communicate effectively with a “visible language”</h4>
                    In his papers on effective visual communication, Aaron Marcus states three fundamental principles involved in the use of the so-called “visible language” — the content users see on a screen.
                    <ol>
                        <li>Organize: provide the user with a clear and consistent conceptual structure</li>
                        <li>Economize: do the most with the least amount of cues and visual elements.</li>
                        <li>Communicate: match the presentation to the capabilities of the user.</li>
                    </ol>
                </p>
                <p>
                    <h4>Conventions are our friends</h4>
                    Conventional design of site elements doesn’t result in a boring web site. In fact, conventions are very useful as they reduce the learning curve, the need to figure out how things work.
                </p>
                <p>
                    With conventions you can gain users’ confidence, trust, reliability and prove your credibility. Follow users’ expectations — understand what they’re expecting from a site navigation, text structure, search placement etc
                </p>
                <p>
                    <h4>Test early, test often</h4>
                    This so-called TETO-principle should be applied to every web design project as usability tests often provide crucial insights into significant problems and issues related to a given layout.Test not too late, not too little and not for the wrong reasons.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}