{% extends "base.html" %}
{% block content %}
<div class="topics">
        <h2>Responsive Web Design</h2>
        <div class="concept">
            <div class="concept-title">
                What I learned about RWD
            </div>
            <div class="concept-description">
                <p>
                   Resposive web design is a design philosophy that emphasizes making your site look good on any device. As well as supporting different input method such as mouse, keyboard, touchscreen, etc.. Thinking responsively requires thinking about the user experience.  What really interested me about this was that RWD is an art and not a science.  I like the idea of combining technology and art. 
                </p>
                <p>
                    RWD isn't a program or Javascript.  It only requires HTML, CSS and responsive thinking.  There are CSS frameworks such as Bootstrap that help making page layouts easy to implement.  Frameworks are pre-prepared CSS software but you can also create your own. 
                </p>
                <p>
                    You should design for mobile first.  Mobile devices are a popular way for users to access sites.  Having less than opitimal mobile sites will deter users from visiting your site and you lose out on a huge market.  Also, when you begin with mobile it forces you to think about what the most important parts of your site are.  This also increases performance on smaller devices.
                </p>
            </div>
        </div>
        <div class="concept">
            <div class="concept-title">
                <a href="http://codeboxr.com/blogs/top-5-advantages-of-responsive-web-page-design" target="_blank">Top 5 Advantages of Responsive Web Page Design</a>
            </div>
            <div class="concept-description">
                <p>
                    <h4>Super Flexible</h4>
                    Responsive web design sites are fluid and adaptive which allows the content to change depending on the device being used to access content.  
                </p>
                <p>
                    <h4>Excellent User Experience</h4>
                    Content and the discoverability of content reign supreme.   However, users should be able to enjoy the content on your site through any device they prefer.  RWD helps achieve this by making the site adapt to whatever device a user is using..
                </p>
                <p>
                    <h4>Cost Effective</h4>
                    You save time and money just managing one site.  It also helps out SEO
                    by having all your visitors directed to a single site no matter what they prefer to use as a device
                </p>   
                <p> 
                    <h4>Google recommends it</h4>
                    They consider it an industry best practice.  Responsive sites have the same URL and HTML which makes it easier for the Google bots to crawl, index, and organize content.
                <p>
                    <h4>Very easy to manage</h4>
                    Having a separate desktop and mobile site requires having separate SEO campaigns. Also, it takes less resources to manage just one site.
                </p>
            </div>
        </div>
        <div class="concept">
            <div class="concept-title">
                <a href="http://www.smashingmagazine.com/2008/01/10-principles-of-effective-web-design/" target="_blank">10 Principles of Effective Web Design</a>
            </div>
            <div class="concept-description">
                <p>
                     It's important to know how users think so you're able to design optimal websites.  Here's a little list to summarize how users interact with sites, how they think and basic behavior patterns.  
                     <ul>
                        <li>Users appreciate quality and credibility</li>
                        <li>Users don’t read, they scan</li>
                        <li>Web users are impatient and insist on instant gratification</li>
                        <li>Users don’t make optimal choices</li>
                        <li>Users follow their intuition</li>
                        <li>Users want to have control</li>
                     </ul>
                </p>
                <p>
                    <h4>Don’t make users think</h4>
                    Users shouldn't have questions about how to use your site.  Make it clear and easy for them.
                </p>
                <p>
                    <h4>Don’t squander users’ patience</h4>
                    Don't make users sign up to see your content or services.  Filling out forms isn't fun and there are plenty of other sites they can visit.  
                </p>
                <p>
                    <h4>Manage to focus users’ attention</h4>
                    Humans don't scan linerally.  Design a site that guides the eye of the user to the content they'd like to see.  
                </p>
                <p>
                    <h4>Strive for feature exposure</h4>
                    This is similar to the first principle.  Make it clear to the user what functions your site offers.  Make the user comfortable using your site.
                </p>
                <p>
                    <h4>Make use of effective writing</h4>
                    Use clear and direct writing.  Don't use language like 'start now!' instead say 'sign up'.  This goes back to not making user's think.  
                </p>
                <p>
                    <h4>Strive for simplicity</h4>
                    Keep the design simple for users.  They are here for content not the design.  Don't let your design get in the way of the info.
                </p>
                <p>
                    <h4>Don’t be afraid of the white space</h4>
                    Don't feel forced to fill up your page with stuff.  This goes back to the keep it simple philosophy.  Too much clutter is not good and just gets in the way.
                </p>
                <p>
                    <h4>Communicate effectively with a “visible language”</h4>
                    Effective visual communication, according to Aaron Marcus, requires three fundamental principles involved in the use of “visible language” — the content users see on a screen.
                    <ol>
                        <li>Organize: provide the user with a clear and consistent conceptual structure</li>
                        <li>Economize: do the most with the least amount of cues and visual elements.</li>
                        <li>Communicate: match the presentation to the capabilities of the user.</li>
                    </ol>
                </p>
                <p>
                    <h4>Conventions are our friends</h4>
                    Following conventions doesn't make your site boring.  By following conventions you can learn effective techniques faster and will spend less time figuring out how things work.  Learn the rules first so you can break them later..
                </p>
                <p>
                    By following conventions, you will gain the confidence and trust of users.  You will appear credible and realiable.  Play to the users' expectations.  Understand what they want from a site in terms of navigation, the structure of text, where the search is, etc..
                </p>
                <p>
                    <h4>Test early, test often</h4>
                    The TETO-principle should be applied to every web site project you desing. Usability tests help reveal problems and issues related to a particular layout.  "Test not too late, not too little and not for the wrong reasons."
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}