<!DOCTYPE html>

<!--This is a comment.  Computers don't read this.  Useful to remind yourself why you did something or for others looking at your code-->
<html>
<head>
	<meta charset="UTF-8"><!--This has something to do with how browsers work-->
	<link rel="stylesheet" type="text/css" href="/css/css.css"><!--To link to CSS file-->
	<title>Nano Notes</title><!--This is what appears on browser tab-->
</head>
<body>
	<h1>Nano Notes</h1>
	<div class="TOC">
		<h2>Table of Contents</h2>
		<ol class="nobullet">
			<li><a href="#topic-1">The web and HTML</a>
			<ul>
				<li><a href="#topic-1-1">What is the web?</a>
				<li><a href="#topic-1-2">What is coding?</a>
				<li><a href="#topic-1-3">Computers ain't dat bright</a>
				<li><a href="#topic-1-4">Inline vs Block</a>
				<li><a href="#topic-1-5">Think like a programmer</a>
				<li><a href="#topic-1-6">HTML Stuff</a>
			</ul>
			<li><a href="#topic-1">Creating a structured document with HTML</a>
			<ul>
				<li><a href="#topic-2-1">Tree-like structure of HTML</a>
				<li><a href="#topic-2-2">Indented HTML and boxes</a>
				<li><a href="#topic-2-3">Text Editors</a>
				<li><a href="#topic-2-4">Additional stuff</a>
			</ul>
			<li><a href="#topic-1">Addding CSS to HTML</a>
			<ul>
				<li><a href="#topic-3-1">Avoiding repetition</a>
				<li><a href="#topic-3-2">What is CSS?</a>
				<li><a href="#topic-3-3">Boxes, boxes, and boxes</a>
				<li><a href="#topic-3-4">Code, test, refine</a>
			</ul>
			<li><a href="#topic-4-1">Object Oriented Programming</a>
			<ul>
				<li><a href="#topic-4-2">What is Object Oriented Programming?</a>
				<li><a href="#topic-4-3">Why is OOP good for thinking about big projects?
</a>
				<li><a href="#topic-4-4">What are the advantages of OOP for large programming projects?</a>
				<li><a href="#topic-4-5">Vocab.. yes, yes?</a>
				<li><a href="#topic-4-6">Making abstract connections</a>
			</ul>
		</ol>
	</div>
	<div class="topics">
		<h2 id="topic-1">The web and HTML</h2>
		<div class="concept" id="topic-1-1">
			<div class="concept-title">
				What is the web?
			</div>
			<div class="concept-description">
				<p>
					The web is a giant network of computers that talk to each other using a protocol call HTTP.  A webpage is document written in HTML (HyperTextMarkupLanguage). A web browser is a program that interprets and displays the info.  The main pieces of the web are: users, the net and servers.
				</p>
			</div>
		</div>
		<div class="concept" id="topic-1-2">
			<div class="concept-title">
				What is coding?			
			</div>
			<div class="concept-description">
				<p>
					Coding is writing text in a language that a computer can understand.  If you know how to talk to a computer, you can tell it do anything!  <span class="italic">That's pretty neat</span>!!!
				</p>
			</div>
		</div>
		<div class="concept" id="topic-1-3">
			<div class="concept-title">
				Computers ain't dat bright			
			</div>
			<div class="concept-description">
				<p>
					Computers are very literal.  They don't intepret the way a human does.  This means one little typo can become a huge problem.  This is an example of 'Technological Empathy'.
				</p>
			</div>
		</div>
		<div class="concept" id="topic-1-5">
			<div class="concept-title">
				Inline vs block		
			</div>
			<div class="concept-description">
				<p>
					Elements are either inline or block.  Block elements form an invisible box around them. This is useful for diving your page up into sections for styling.
				</p>
				<p>
					Examples of <span class="italic">Inline</span> elements: a, span, br, img and strong.
				</p>
				<p>
					Examples of <span class="italic">Block</span> elements: p, form and div. 
				</p>
			</div>
		</div>
		<div class="concept" id="topic-1-6">
			<div class="concept-title">
				Thinking like a programmer		
			</div>
			<div class="concept-description">
				<p>
					There are too many details to remember.  Focus on the big ideas then know what and how to look up.  <span class="italic">Google to the rescue</span>!!!
				</p>
				<p>
					5 different types of thinking:
					<ol>
						<li>Procedural - Creating clear and unambiguous instructions for a computer to follow</li>
						<li>Abstract - Finding similiarity, or generality, amongst seemingly different things (avoiding repetition)</li>
						<li>Systematic - Breaking a big problem down into smaller pieces (big-picture and decision-making) and how the pieces fit together</li>
						<li>Technological Empathy - Understanding how a computer works, what it is, and what it's good and bad at doing (understanding tools)</li>	
						<li>Debugging - Systematic process of identifying the cause of a computer that doesn't work.  If a program doesn't work, there is a mistake.</li>
					</ol>
				<p>
				Here are the steps to fix the problem<br>
				1.  Collect evidence (what makes the program fail?)<br>
				2. Generate theories (what caused this?)<br>
				3. Test theories (if theory is right, how do I find out?<br>
				4. Fix the problem
				</p>
		</div>
		<div class="concept" id="topic-1-7">
			<div class="concept-title">
				HTML Stuff
			</div>
			<div class="concept-description">
				<p>
					How an HTML doc is structured<br>
					&lt;DOCTYPE hmtl&gt;<br>
					&lt;head&gt;<br>
					&lt;title&gt;What appears on browser tab&lt;/title&gt;<br>
					&lt;meta UTF-8&gt;<br>
					&lt;link rel=&quot;&quot; href=&quot;&quot;/&gt;><br>
					&lt;/head&gt;
					&lt;html&gt;<br>
					&lt;body&gt;<br>
					&lt;/body&gt;<br>
					&lt;/html&gt;<br>
				</p>
				Other stuff:<br>
				<br>
				Tag = &lt;&gt;  &lt;&gt;<br>
				Element = (&lt;&gt; &quot;&quot; &lt;&gt;)<br>
				Attribute = property of an HTML element<br>
				Void tag = no closing tag<br>
					<ul>
						<li>example = the &lt;br&gt;</li>
					</ul>
				Images don't have a closing tag<br>
				The internet is the World's largerst network of computers<br>
				URL = How we reference (address)<br>
				HTTP = Protocols for transferring data<br>
			</div>
		</div>
	</div>
	<div class="topic">
		<h2 id="topic-2">Creating a structured document with HTML</h2>
		<div class="concept" id="topic-2-1">
			<div class="concept-title">
				Tree-like structure of HTML
			</div>
			<div class="concept-description">
				<p>
					DOM = Tree-like structure.  This means you can have elements inside elements.  <span class="italic">Think of a family tree</span>
				</p>
			</div>
		</div>
		<div class="concept" id="topic-2-2">
			<div class="concept-title">
				Indented HTML and boxes
			</div>
			<div class="concept-description">
				<p>
					The &quot;wave-like&quot; look of HTML indentations shows the way elements are nested.  The more indented means the more nested the element is.
				</p>
				<p>
					Boxes on boxes on boxes.  HTML is all about about boxes.  View every page you see as boxes.
			</div>
		</div>
		<div class="concept" id="topic-2-3">
			<div class="concept-title">
				Text Editors
			</div>
			<div class="concept-description">
				<p>
					Programmers use special text editors for writing code.  These editors are designed with coding in mind which makes it easier for coders.  Some have really useful features.  An example of this in Sublime Text 2 is that you can use the find feature to find a certain tag and then change all of those tags in the doc in one fell swoop.  A bit like CSS..  
				</p>
			</div>
		</div>
		<div class="concept" id="topic-2-4">
			<div class="concept-title">
				Additional stuff
			</div>
			<div class="concept-description">
				<p>
					HTML = the set<br>
					CSS = how the set is painted<br>
					Javascript = how the stage moves<br>
					Class attributes = lables on boxes<br>

				</p>
			</div>
		</div>
	</div>
	<div class="topic">
		<h2 id="topic-3">Adding CSS to HTML</h2>
		<div class="concept" id="topic-3-1">
			<div class="concept-title">
				Avoiding repetition
			</div>
			<div class="concept-description">
				<p>
					Avoiding mistakes and consistency: <br>
					<br>	
					When doing the same thing over and over it becomes easy to make a mistake.  The benefit of CSS is that it allows you make changes to parts of the document with a few lines of code instead of going through and manually applying the style to each individual line.  For example, with this page, by assinging each lesson and header a class, I'm able to set the style with just one bit of code.  I didn't need to set it each time.  Very, very useful.
				</p>
			</div>
		</div>
		<div class="concept" id="topic-3-2">
			<div class="concept-title">
				What is CSS?
			</div>
			<div class="concept-description">
				<p>
					CSS stands for cascading style sheets.  It is the code that applies the look to the HTML structure.  It cascades throughout the whole document.  Meaning it not only applies to element's that directly match, but element's children as well.  This is inheritance.  If there are multiple rules for a child, the most specific wins.  You link to the CSS file in the head of the html doc.  Put the CSS file and HTML file in the same folder.
				</p>
			</div>
		</div>
		<div class="concept" id="topic-3-3">
			<div class="concept-title">
				Boxes, boxes, and boxes
			</div>
			<div class="concept-description">
				<p>
					Earlier I mentioned to see everything as boxes in HTML.  This is not only helpful in developing structure but it makes it easier to style.  There are 4 components to the boxes: Margin, border, padding and conent.
				</p>
				<p>
					Because there are four components, sizing can be different.  Also, browser display content differently.  This will be important in the future.
				</p>
				<p>
					Display: flex; allows divs to appear next to each other instead of stacked.  Will use this to build a TOC (table of contents)
					that appears next to the conent.  How do I make it stay static while content moves to make navigation easier?
				</p>
				<p>
					Two techniques: 
					<ol>
						<li>use percents instead of pixels</li>
						<li>boxsizing: border-box</li>
					</ol>
				<p>
			</div>
		</div>
		<div class="concept" id="topic-3-4">
			<div class="concept-title">
				Code, test, refine
			</div>
			<div class="concept-description">
				<p>
					The strategy:
				</p>
				<ol>
					<li>Look for natural boxes</li>
					<li>Look for repeated styles and semantic elements</li>
					<li>Write HTML</li>
					<li>Apply style (biggest to smallest)</li>
					<li>Fix things</li>
				</ol>
			</div>
		</div>
	</div>
	<div class="topic">
		<h2 id="topic-4-1">Object Oriented Programming</h2>
		<div class="concept" id="topic-4-2">
			<div class="concept-title">
				What is Object Oriented Programming?
			</div>
			<div class="concept-description">
				<p>
					OOP is a programming language model organized around objects rather than “actions” and data rather than logic.  It is a design philosophy.  This just means describing what things <em>are</em> and what they can <em>do</em>.  It is considered more 'new school' vs the 'old school' procedural programming.  
				</p>
			</div>
		</div>
	</div>	
	<div class="topic">
		<div class="concept" id="topic-4-3">
			<div class="concept-title">
				Why is OOP good for thinking about big projects?
			</div>
			<div class="concept-description">
				<p>
					OOP is good for thinking about large projects because of the way it is structured around identifying and using objects.  This will help you have a cleaner, more organized project that can be modified easier than if you used a procedural language. 
				</p>
			</div>
		</div>
		<div class="concept" id="topic-4-4">
			<div class="concept-title">
				What are the advantages of OOP for large programming projects?
			</div>
			<div class="concept-description">
				<p>
					The advantage of OOP for large projects is that you can easily modify your code.  Instead of having to write a whole new procedure if you want to tweak something you can just just change something in the class. 
				</p>
				<p>
					Another advantage is faster development because you're able to reuse code that is already written from the library.
				</p>
				<p>
					Since I imagine writing a large program would be hard, approaching it with an OOP mindset would force you to spend more time on design which would result in a better program. 
				</p> 
			</div>
		</div>
		<div class="concept" id="topic-4-5">
			<div class="concept-title">
				Vocab.. yes, yes?
			</div>
			<div class="concept-description">
				<p>
					Class - Think of this as a a blueprint, a detailed description that defines what an object will be (behavior and attributes).  Once defined, we can create multiple objects from it (ex. multiple houses from the same blueprint.)
				</p>
				<p>
					Object and instance - Structures that contain both data and procedures (the things built from blueprints).
				</p>
				<p>
					Method - A function which is a member of a class.
				</p>
				<p>
					Library - This is what comes with when you install it.  The library has a bunch of modules (code that has already been written) which you can import into your own code and make things much faster.
				</p>
				<p>
					Class variables - Attributes shared by all instances of the class.
				</p>
				<p>
					Inheritance - The idea that a sub class class will get most or all of its features from a parent class (like how you inherit traits from your mom and dad).  This is great form of code re-use.  You can create a new class and instead of writing it from scratch, we can base it on an existing class.
				</p>
				<p>
					Method overriding - sometimes you want the child to behave differently so you override the function in the child, replacing the functionality.
				</p>
			</div>
		</div>
		<div class="concept" id="topic-4-6">
			<div class="concept-title">
				Making abstract connections
			</div>
			<div class="concept-description">
				<p>
					OOP is like using classes in HTML and CSS when making webpages.  Instead of using inline CSS to style the page, we categorise the HTML elements on the webpage using CSS classes which specify the design properties to be applied on them.  Since classes and CSS classes both act as blueprints it helps to avoid repetition.
				</p>
			</div>
		</div>
	</div>
</div>
</body>
</html>
