{% extends "base.html" %}
{% block content %}
	<div class="topics">
		<div>
			<h2>Welcome!</h2>
		</div>
			<div class="concept-description">
				<p>Hello.  Welcome to the home page of my site.</p>
				<p>For my Stage 5 Project I chose to learn more about Responsive Web Design</p>
				<p>I found Responsive Web Design interesting because it is considered more of an art than a science.  It's cool to be able to apply tech skill with an artistic approach.</p>
				<p>I really enjoyed the last stage of the nanodegree.  Gaining exposure to all the topics and possibilites was fun!</p>
				<p>Use the table of contents to navigate to the section regarding Responsive Web Design</p>
				<p>Thanks for stopping by!!!!</p>
				<p>Sincerely,</p>
				<p>Chasepf</p>
			</div>		
	</div>
{% endblock %}