{% extends "base.html" %}
{% block content %}
	<div class="topics">
		<div>
			<h2>Welcome!</h2>
		</div>
			<div>
				<p>Hello,</p>
				<p>This is the landing page of my website</p>
				<p>On this site you'll find my notes for the Intro to Programming Nanodegree @ <a href="https://www.udacity.com/nanodegree" target="_blank">Udacity</a></p>
				<p>Use the table of contents on your left to navigate to a desired page</p>
				<p>Thank you for stopping by!</p>
				<p>Sincerely,</p>
				<p>Chasepf</p>
			</div>
		</div>
	</div>
{% endblock %}