{% extends "base.html" %}

{% block content %}

<form>
	<h3>Say something</h3>
	<input type="text" name="d">
	{% if items %}
		{% for item in items %}
			<input type="hidden" name="d" value="{{item}}">
		{% endfor %}
	{% endif %}
	<button>Add</button>

	{% if items %}
		<br>
		<br>

		<h3>What you said</h3>
		<ul>
			{% for item in items %}
				<li>{{ item }} </li>
			{% endfor %}
		</ul>
	{% endif %}

<!--	{% for concept in concepts %}
		<div class="concept">
  			<div class="concept-title">
    			{{ concept[0] }}
  			</div>
  			<div class="concept-description">
    			{ concept[1] }}
  			</div>
		</div>
	{% endfor %}
-->
</form>

{% endblock %}
