<div class="table_of_contents">
	<div>
		<h2>Table of Contents</h2>
	</div>
	<div>
		<h3><a href="/">Home</a></h3>
	</div>
	<div>
		<h3><a href="/guestbook">Guest Book</a></h3>
	</div>
	<div>
		<h3><a href="/lessons?page=0">Stage 0: The Web and HTML</a></h3>
			<ul>
				<li>What is the web?</li>
				<li>What is coding?</li>
				<li>Computers ain't dat bright</li>
				<li>Inline vs Block</li>
				<li>Think like a programmer</li>
				<li>HTML Stuff</li>
			</ul>
	</div>
	<div>
		<h3><a href="/lessons?page=1">Stage 1: Creating a structured document with HTML</a></h3>
			<ul>
				<li>Tree-like structure of HTML</li>
				<li>Indented HTML and boxes</li>
				<li>Text Editors</li>
				<li>Additional stuff</li>
			</ul>
	</div>
	<div>
		<h3><a href="/lessons?page=2">Stage 2: Addding CSS to HTML</a></h3>
			<ul>
				<li>Avoiding repetition</li>
				<li>What is CSS?</li>
				<li>Boxes, boxes, and boxes</li>
				<li>Code, test, refine</li>
			</ul>
	</div>
	<div>
		<h3><a href="/lessons?page=3">Stage 3: Object Oriented Programming</a></h3>
			<ul>
				<li>What is Object Oriented Programming?</liß>
				<li>Why is OOP good for thinking about big projects?</li>
				<li>What are the advantages of OOP for large programming projects?</li>
				<li>Vocab.. yes, yes?</li>
				<li>Making abstract connections</li>
			</ul>
	</div>
	<div>
		<h3><a href="/lessons?page=4">Stage 4: Full Stack</a></h3>
			<ul>
				<li>Network Vocab and Terminology</li>
				<li>Making a Network</li>
				<li>Servers</li>
				<li>HTTP</li>
				<li>User Agents</li>
				<li>GET</li>
				<li>POST</li>
				<li>The Importance of Validating Input</li>
				<li>HTML Templates and Abstraction</li>
				<li>Databases</li>
			</ul>
	</div>
	<div>
		<h3><a href="/lessons?page=5">Stage 5: Responsive Web Design</a></h3>
			<ul>	
				<li>What I learned about RWD</li>
				<li>Top 5 Advantages of Responsive Web Page Design</li>
				<li>10 Principles of Effective Web Design</li>
			</ul>
	</div>
</div>